@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "variables";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.p-menubar .p-menuitem-link {
  font-weight: bold;
  margin-top: 3rem;
  align-items: space-around;
}


.text {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

@keyframes zoomHeartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

// media queries

@media only screen and (max-width: 600px) {
  .app-sidebar, .app-icon-sidebar {
    width: 100%;
    left: -100%;
  }

  .app-sidebar.active~.app-content {
    width: 100%;

  }

}

.grades-table {
  table {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-collapse: collapse;
  }

  td, th{
    border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
  }
}

.p-scrollpanel {
  .p-scrollpanel-bar {
    background-color: rgba(112, 128, 144, 0.3);
    opacity: 0;
    transition: background-color .3s;
  }
  .p-scrollpanel-bar:hover {
    opacity: 1;
    transition: opacity .3s;
  }
    td, th{
      border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
    }
}

.p-fileupload-file-badge,
.p-fileupload-buttonbar button{
    display: none;
}